/build/MDK-ARM/DebugConfig
/build/MDK-ARM/EventRecorderStub.scvd
/build/MDK-ARM/JLinkLog.txt
/build/MDK-ARM/demo
/build/MDK-ARM/JLinkSettings.ini
/build/MDK-ARM/RTE/
/build/MDK-ARM/demo.uvoptx
/build/MDK-ARM/demo.uvguix.*
/build/MDK-ARM/demo_app
/build/MDK-ARM/demo_boot
/build/MDK-ARM/bin
/build/gcc/evn
/build/gcc/build
/build/gcc/bin
